/*========= sevice_promo_area  ===========*/
.sevice_promo_area {
  .row {
    margin-bottom: -55px;
  }
}
.service_promo_item {
  text-align: center;
  padding: 0px 30px;
  cursor: pointer;
  margin-bottom: 55px;
  .round {
    width: 100px;
    height: 100px;
    text-align: center;
    background: #8781bd;
    border: 1px solid $purple;
    font-size: 30px;
    color: #fff;
    line-height: 100px;
    margin: 0 auto 30px;
    border-radius: 50%;
    transition: all 0.2s linear;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
    margin-bottom: 18px;
  }
  p {
    margin-bottom: 0;
    font-family: $crim;
  }
  &:hover {
    .round {
      background: transparent;
      color: $purple;
    }
  }
}
/*========= sevice_promo_area  ===========*/

/*========= sevice_promo_area_two  ===========*/
.sevice_promo_area_two {
  .row {
    margin-bottom: -55px;
  }
  .service_promo_item {
    .round {
      background: transparent;
      color: $purple;
    }
    &:hover {
      .round {
        background: $purple;
        color: #fff;
      }
    }
  }
}
/*========= sevice_promo_area_two  ===========*/

/*========= service_area  ===========*/
.service_faq_inner {
  .section_title {
    margin-bottom: 35px;
  }
}
.service_faq_info {
  .card {
    border: 1px solid #dbd9e7;
    border-radius: 0px;
    margin-bottom: 15px;
    .card-header {
      padding: 0px;
      border: 0px;
      border-radius: 0px;
      background: transparent;
      button {
        width: 100%;
        text-align: left;
        font-size: 16px;
        font-family: $pop;
        color: $title;
        font-weight: 500;
        text-decoration: none;
        padding: 12px 55px 12px 30px;
        position: relative;
        span {
          position: absolute;
          right: -1px;
          width: 50px;
          line-height: 50px;
          font-size: 16px;
          color: #dbd9e7;
          background: #8781bd;
          height: 50px;
          text-align: center;
          top: -1px;
        }
        .pluse {
          display: none;
        }
        .minus {
          display: inline-block;
          background: #dbd9e7;
          color: #fff;
        }
        &.collapsed {
          .pluse {
            display: inline-block;
          }
          .minus {
            display: none;
          }
        }
      }
    }
    .card-body {
      border-top: 1px solid #dbd9e7;
      padding: 20px 30px 25px;
    }
  }
}

.service_tab {
  border: 0px;
  .nav-item {
    font: 500 16px $pop;
    color: #505050;
    background: #f1f0f9;
    letter-spacing: 0.8px;
    border-radius: 0px;
    min-width: 175px;
    padding: 10px 29px;
    transition: all 0.2s linear;
    margin-bottom: 0px;
    border-bottom: 0px;
    &.active {
      padding: 10px 49px;
      margin-bottom: -1px;
    }
    & + .nav-item {
      margin-left: 1px;
    }
  }
}
.service_tab_content {
  padding: 30px;
  border: 1px solid #dbd9e7;
  background: #fff;
  p {
    margin-bottom: 0;
    img {
      float: left;
      margin-right: 30px;
      margin-top: 10px;
      margin-bottom: 2px;
    }
  }
}
/*========= service_area  ===========*/

/*========= clients_logo_area  ===========*/
.clients_logo_area {
  background: #8781bd;
}
.clients_logo_area_black {
  background: #212028;
}
.c_logo_item {
  display: block;
  text-align: center;
  img {
    opacity: 0.6;
    transition: opacity 0.3s linear;
  }
  &:hover {
    img {
      opacity: 1;
    }
  }
}
/*========= clients_logo_area  ===========*/

/*========= skill_area  ===========*/
.skill_item {
  text-align: center;
  padding: 0px 10px;
  .count_main {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto 28px;
    .counter_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #8781bd;
      font-size: 24px;
      font-family: $pop;
      font-weight: 300;
      line-height: 100px;
      color: #fff;
    }
  }
  h6 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 0;
  }
}
/*========= skill_area  ===========*/

/*========= features_area  ===========*/
.features_area {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  background: url("../img/home-two/features_bg.jpg") no-repeat scroll center 0 /
    cover;
  .overlay_bg {
    background: $purple;
    opacity: 0.4;
  }
  .color_w h6 {
    color: #fff;
  }
  .precess_item {
    margin-bottom: 50px;
    .icon {
      background: transparent;
      border: 1px solid #e4a6ff;
    }
    .media-body {
      h6 {
        padding-bottom: 18px;
        &:before {
          width: 30px;
        }
      }
      h6,
      p {
        color: #fff;
      }
    }
  }
}
/*========= features_area  ===========*/

/*========= offer_area  ===========*/
.offer_item {
  cursor: pointer;
  img {
    transition: all 0.3s linear;
    position: relative;
    z-index: -1;
  }
  .content {
    padding-top: 27px;
    h6 {
      font-size: 16px;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
    }
  }
  &:hover {
    .img_hover {
      img {
        transform: scale(1.09);
      }
      &:before {
        opacity: 0.9;
      }
    }
    h6 {
      color: $purple;
    }
  }
}
/*========= offer_area  ===========*/

/*========= core_features_area  ===========*/
.core_features_inner_one {
  text-align: right;
  .core_features_item {
    .media {
      flex-direction: row-reverse;
      .icon {
        margin-left: 25px;
        margin-right: 0px;
      }
    }
  }
}
.core_features_item {
  margin-bottom: 60px;
  .media {
    align-items: center;
    padding-bottom: 8px;
    .icon {
      width: 45px;
      height: 45px;
      font-size: 18px;
      line-height: 45px;
      color: $purple;
      border: 1px solid $purple;
      text-align: center;
      border-radius: 50%;
      margin-right: 25px;
    }
    a {
      font-size: 18px;
      letter-spacing: 0.9px;
      font-weight: 500;
      color: $title;
      font-family: $pop;
      transition: color 0.2s linear;
      &:hover {
        color: $purple;
      }
    }
  }
}
/*========= core_features_area  ===========*/

/*========= video_area  ===========*/
.video_area {
  position: relative;
  z-index: 1;
  padding: 196px 0px;
}
.video_content {
  .video_icon {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 22px;
    background: $purple;
    color: #fff;
    line-height: 100px;
    margin: 0 auto 28px;
    display: block;
    border-radius: 50%;
    &:hover {
      background: #fff;
      color: $purple;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    span {
      font-weight: 600;
    }
  }
  p {
    font-style: italic;
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
  }
}
/*========= video_area  ===========*/
